* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #B3995D;
    width: 100vmax;
    height: 100vh;
    display: flex;
    justify-content: space-around;

}

.menu {
    margin: 0;
    background-color: #AA0000;
    width: 250px;
    height: 750px;
    display: flex;
    flex-direction: column;
    border: 10px solid grey;
    position: relative;
    top: 20px;
    left: 25px;
    
}

.menu .title {
    width: 235px;
    height: 120px;
    text-align: center;
    display: flex;
    justify-content: center;
    line-height: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


#scoreboard {
    width: 230px;
    height: 300px;
    display: flex;
    justify-content: center;
    text-align-last: center;
}
span {
    font-size: 30px;
}

#score {
    right: 30px;
    width: 300px;
    font-size: 50px;
}

.options {
    display: flex;
    height: 250px;

}

.options button {
    border: 2px solid darkgray;
    color: #B3995D;
    padding: 15px 0;
    font-size: 30px;
    cursor: pointer;
}

.options button:first-child {
    margin: auto;
	height: 120px;
	width: 100px;
	font-size: 20;
	border-radius: 15px;
	border: 4px solid darkgray;
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.options button:nth-child(2) {
    margin: auto;
	height: 120px;
	width: 100px;
	font-size: 20;
	border-radius: 15px;
	border: 4px solid darkgray;
	cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.game-play {
    position: relative;
    left: 75px;
}

canvas {
    border: 3px solid darkgray;
    background-color: rgb(9, 105, 9);
    position: relative;
    top: 30px;
    right:100px;

}

.modals {
    margin: 0;
    position: fixed;
    z-index: 1;
    height: 200px;
    width: 600px;
    top: 200px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 15px;
    border: 3px solid black;
    text-align: center;
    display: none;
    list-style-position: inside;

}

#tackled-modal{
    margin: 0;
    position: fixed;
    z-index: 1;
    height: 200px;
    width: 600px;
    top: 200px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 15px;
    border: 3px solid black;
    text-align: center;
    display: none;
}
#touchdown-modal{
    margin: 0;
    position: fixed;
    z-index: 1;
    height: 200px;
    width: 600px;
    top: 200px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 15px;
    border: 3px solid black;
    text-align: center;
    display: none;
}
